body{
    background-color: #3c6e71;
    text-align: center;
}
.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#head{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}
.inner{
    margin-top: 10px;
    height: 70vh;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.box{
    height: 170px;
    width: 170px;
    border-radius: 10px;
    border: none;
    background-color: #dde7c7;
    font-size: 80px;
    color: black;
}
.new-game{
    height: 60px;
    width: 150px;
    background-color: #f2e9e4;
    border-radius: 10px;
    font-size: 20px;
    border:none;
    margin-top: 10px;
    
}
.reset-game{
    height: 60px;
    width: 150px;
    background-color: #f2e9e4;
    border-radius: 10px;
    font-size: 20px;
    border:none;
}

.msg{
    margin: 0;
    color: #d8e2dc;
    font-size: 40px;
}
.hide{
    display:none;
}

/* Responsiveness Added for mobile Phones */
@media (max-width: 480px) {
  .inner {
    width: 100%;
    gap: 10px;
  }

  .box {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }

  #head {
    font-size: 24px;
  }

  .msg {
    font-size: 24px;
  }

  .new-game,
  .reset-game {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}